<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>library app</title>
</head>
<body>
    <%- include('header.ejs')%>
    <main>
        <section id="hero">
            <h1>Books</h1>
            <div class="books">
                <%locals.books.forEach(book=>{%>
                    <div class="book" id="book-<%book.isbn%>">
                        <img src="/images/cover 1.jpeg" alt="cover for <%=book.title%>">
                        <h2><%=book.title%></h2>
                        <p>Year:<%= book.publiction%></p>
                        <p>Author:</p>
                    </div>    
                <%})%>
            </div>
        </section>
        
    </main>
    <footer>
        <p>LibApp &copy;<% new Date().getFullYear()%>.All rights Reserved</p>
    </footer>
</body>
</html>