<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>library app</title>
</head>
<body>
    <%- include('header.ejs')%>
    </header>
    <main>
        <section id="hero">
            <h1>Manage your library with ease</h1>
            <p>LibApp puts the convinience of borrowing and managing your library account right in your pocket</p>
        </section>
        <section>
            <h2>Most read books</h2>
        </section>
        <section>
            <h2>Top Rated</h2>
        </section>
    </main>
    <footer>
        <p>LibApp &copy;<% new Date().getFullYear()%>.All rights Reserved</p>
    </footer>
</body>
</html>